* {
  background-color: beige;
}

.titu {
  padding: 0px;
  margin-top: 4px;
  color: brown;
}
/* Barra navegacion */
.barra {
  list-style-type: none;
  margin: 0;
  padding: 1;
  overflow: hidden;
  background-color: beige;
  display: flex;
}
.barra li {
  float: left;
}
.barra li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.barra li a:hover {
  background-color: rgb(220, 187, 250);
}
.active {
  background-color: blueviolet;
}
/* fin barra navegacion */
ul.parad {
  color: blueviolet;
  list-style-type: circle;  

}

ul.parad li {
  margin-right: 20px; 
}

div{
  display: flex;  
}

.info1 {
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.info2 {
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  float: right;
}